[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask-socketio = "*"
numpy = "*"
flask-cors = "*"
flask-pymongo = "*"
pymongo = "*"
gunicorn = "*"
eventlet = "==0.30.2"
python-dotenv = "*"

[requires]
python_version = "3.8"
